<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
    <%- include('./templates/header.ejs') %>
    <div id="login_globalDiv" class="centerItem">
        <p id="login_title" class="centerItem">Veuillez vous connecter</p>
        <form id="login_form" action="login" method="post" name="form">
            <input type="text" placeholder="Email/Pseudo" name="pseudo" class="centerItem" id="login_pseudoInput" required>
            <input type="password" placeholder="Mot de passe" name="password" class="centerItem" id="login_passwordInput">
        </form>
        <button class="centerItem" id="login_validateButton">Valider</button>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>