<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="/css/postAnnonce.css" rel="stylesheet">
</head>
<body>
    <%- include('./templates/header.ejs') %>
    <div id="postAnnonce_mainContentDiv">
        <input type="text" placeholder="Le titre de votre annonce" id="postAnnonce_Title">
        <div id="postAnnonce_allPictureDiv">
            <div id="postAnnonce_firstPictureDiv" class="postAnnonce_PictureDiv" style="grid-column: 1;">
                <img src="/assets/img/camera.png" id="postAnnonce_firstPicture" class="postAnnonce_Picture">
                <p id="postAnnonce_firstPictureText" class="postAnnonce_PictureText">1er photo</p>
            </div>
            <div id="postAnnonce_secondPictureDiv" class="postAnnonce_PictureDiv" style="grid-column: 2;">
                <img src="/assets/img/camera.png" id="postAnnonce_firstPicture" class="postAnnonce_Picture">
                <p id="postAnnonce_firstPictureText" class="postAnnonce_PictureText">1er photo</p>
            </div>
            <div id="postAnnonce_thirdPictureDiv" class="postAnnonce_PictureDiv" style="grid-column: 3;">
                <img src="/assets/img/camera.png" id="postAnnonce_firstPicture" class="postAnnonce_Picture">
                <p id="postAnnonce_firstPictureText" class="postAnnonce_PictureText">1er photo</p>
            </div>
            <div id="postAnnonce_fourthPictureDiv" class="postAnnonce_PictureDiv" style="grid-column: 4;">
                <img src="/assets/img/camera.png" id="postAnnonce_firstPicture" class="postAnnonce_Picture">
                <p id="postAnnonce_firstPictureText" class="postAnnonce_PictureText">1er photo</p>
            </div>
        </div>
    </div>
</body>
</html>