<link href="/css/edit-my-account-Sidebar.css" rel="stylesheet">

<div id="Sidebar_navDiv">
    <button class="Sidebar_navButton">Personnaliser</button>
    <button class="Sidebar_navButton">Sécurité</button>
    <button class="Sidebar_navButton">Actions</button>
</div>