<link rel="stylesheet" href="/css/header.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.js"></script>
<header id="header_header">
    <div id="header_titleDiv">
        <h1 id="header_title">Affaires Crypto</h1>
    </div> 
    <div id="header_createButtonDiv">
        <button id="header_createButton">
            <img src="../assets/ico/header_add.svg" id="header_add">
            <p id="header_createButtonText">Créer une annonce</p>
        </button>
    </div>
    <div id="header_navButton">
        <div>
            <img src="../assets/ico/header_favorite.svg" id="header_favorite_ico" class="header_ico">
            <p class="header_text">favoris</p>
        </div>
        <div>
            <img src="../assets/ico/header_message.svg" id="header_messages_ico" class="header_ico">
            <p id="header_messages_text" class="header_text">Messages</p>
        </div>
        <div id="header_profileDiv">
            <img src="../assets/ico/header_profilePicture.svg" id="header_profilePicture_ico" class="header_ico">
            <p class="header_text">Compte</p>
        </div>
    </div>
</header>
<script src="../js/header.js"></script>
<hr>