body{
    margin: 0px;
    --mainColor:#57cc99;
    --mainColor50opacity: rgba(87, 204, 153,0.5);
    --mainColor25opacity: rgba(87, 204, 153,0.25);
    --mainWeight:700;
    --buttonColor1: hsl(199, 88%, 53%);
    --buttonColor2: #4180f5;
    overflow-x: hidden;
}
@font-face {
    font-family: Raleway;
    src: url('../assets/fonts/Raleway-VariableFont_wght.ttf');
}
@font-face {
    font-family: Noto;
    src: url('../assets/fonts/NotoSansNandinagari-Regular.ttf');
}