body{
    margin: 0px;
    --mainColor:#57cc99;
    --mainColor50opacity: rgba(87, 204, 153,0.5);
    --mainColor50percent:
    --mainWeight:700;
    --buttonColor1: #1DC0F0
}
@font-face {
    font-family: Raleway;
    src: url('../assets/fonts/Raleway-VariableFont_wght.ttf');
}
@font-face {
    font-family: Noto;
    src: url('../assets/fonts/NotoSansNandinagari-Regular.ttf');
}